.comp-open-dental {
    padding: 16px;
    .setup-instructions, .api-controls {
        text-align: left;
    }
    .api-controls {
        .row {
            margin: 8px;
            input, select {
                margin-right: 8px;
            }
        }

        pre { 
            
            display: block;
            padding: 10px 30px;
            margin: 0;
            overflow: auto;
        }
    }
}