.list-item-patient {
    background-color: rgba(0,0,0,0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 100ms ease-in-out;

    .row {

        display: flex;
        flex-direction: row;
        h2 {
            flex: 1;
        }
        
        h2, h3 { 
             margin: 0;
        }
    }
    .row:not(:first-child) {
        margin-top: 16px;
    }
}

.list-item-patient:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.list-item-patient:active {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: all 50ms linear;
    background-color: antiquewhite;
}