.component-eligibility-verification {
  max-height: 100%;

  text-align: left;

  padding: 16px;

  h1 {
    text-align: center;
  }
  .response-data-preview {
    display: flex;
    flex-direction: row;
    iframe {
      flex: 1;
      margin-bottom: 64px;
    }
  }
}
